version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: customer-db
    environment:
      POSTGRES_DB: customer_db
      POSTGRES_USER: customer_user
      POSTGRES_PASSWORD: customer_pass
    ports:
      - "5432:5432"
    volumes:
      - customer_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U customer_user -d customer_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-customer-service:
    build: .
    container_name: ms-customer-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/customer_db
      QUARKUS_DATASOURCE_USERNAME: customer_user
      QUARKUS_DATASOURCE_PASSWORD: customer_pass
    ports:
      - "8080:8080"

volumes:
  customer_data:
